.card .card-more {
	visibility: hidden;
	height: 0;
	width: 0;
}

.card.flipped .card-more {
	visibility: visible;
	height: auto;
	width: auto;
}

.card.flipped .card-main {
	display: none;
}

.card-body,
.card-img-top {
	transition: all 0.5s ease-out;
}

.card.flipped .card-img-top,
.card.flipped .card-body {
	transform: rotateY(180deg);
}

.card.flipped .card-more,
.card.flipped .card-title {
	transform: rotateY(180deg);
}

.buttons button{
	margin-right: 0.5em;
}