<div class="card" [ngClass]="{'flipped': isClicked}">
    <div class="card-body">
      <h5 class="card-title">{{ contact.name }}</h5>
      <hr>
      <div class="card-main">
        <p>ID: {{ contact.id }}</p>
        <p><i class="bi bi-telephone"></i> {{ contact.phone }}</p>
        <p *ngIf="contact.email"><i class="bi bi-envelope"></i> {{ contact.email }}</p>
        <button class="btn btn-outline-secondary" (click)="isClicked = !isClicked">More</button>
      </div>
  
      <div class="card-more">
  
        <hr>
  
        <div class="buttons">
          <button class="btn btn-outline-secondary" (click)="isClicked = !isClicked">Back</button>  
        </div>
  
      </div>
    </div>
  </div>